__pycache__
*.pyc
*.pyo
*.pyd
.env
.venv
.uv
.uv_cache
.dist-info
build
site
.eggs
dist
pip-wheel-metadata
.pytest_cache
.mypy_cache
.dmypy.json
.cache
coverage.xml
htmlcov
.coverage
.coverage.*
.DS_Store
.idea
.vscode
alembic/__pycache__
.agents/
